In [4]:
import pandas as pd

In [5]:
""" 
What are we going to cover ?
1. Most useful functions
2. Pandas Datatypes
3. Importing & exporting data
4. Describing data
5. Viewing & selecting data
6. Manipulating data 
"""

' \nWhat are we going to cover ?\n1. Most useful functions\n2. Pandas Datatypes\n3. Importing & exporting data\n4. Describing data\n5. Viewing & selecting data\n6. Manipulating data \n'

In [6]:
# 2 Main datatypes
# 1. Series => 1-dimensional
# 2. DataFrame => 2-dimensional

In [7]:
# Series = 1-dimensional
colours = pd.Series(["Red", "Blue", "White"])
cars = pd.Series(["BMW","Honda", "Civic"])

In [8]:
# Series = 2-dimensional
car_data = pd.DataFrame({"Car Make": cars, "Colour" : colours})
car_data

  Car Make Colour
0      BMW    Red
1    Honda   Blue
2    Civic  White

In [11]:
# Import data
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00